body{
    background-image: url(https://www.xtrafondos.com/wallpapers/resized/sukuna-de-jujutsu-kaisen-8306.jpg?s=large);
    background-size: cover;
}
    
h1{
    font-family: 'Tilt Prism', cursive;
}
th{
    color: white;
}
td{
    color: white;
}